[
  {
    "title": "روبینو دانلودر",
    "text": "rubinodownloader_app",
    "button": "yes",
    "image": "http://uupload.ir/files/9wbm_20200726_144256.png",
    "link": "rubika://l.rubika.ir/Rubinodownloader_app"
  },
  {
    "title": "برنامه جدید",
    "text": "وارد کانال ما شوید",
    "button": "ورود به کانال ما",
    "image": "http://uupload.ir/files/9wbm_20200726_144256.png",
    "link": "rubika://l.rubika.ir/Rubinodownloader_app"
  }
]