[
  {
    "title": "آپدیت 2.2",
    "text": "به نام خداوند بخشنده مهربان\nنسخه جدید روبینو دانلودر منتشر شد.\nبرای دانلود جدیدترین نسخه ها و دریافت اخبار روبینو دانلود بر روی ورود به کانال ما کلیک کنید.",
    "button": "ورود به کانال ما",
    "image": "http://uupload.ir/files/dfrl_20200801_004307.jpg",
    "link": "rubika://l.rubika.ir/Rubinodownloader_app"
  },
  {
    "title": "رونمایی از آیکن جدید روبینو دانلودر",
    "text": "به نام خداوند بخشنده مهربان\nآیکن جدید روبینو دانلودر رونمایی شد!\nبرای دریافت بروزترین اخبار روبینو دانلود بر روی تازه ترین اخبار کلیک کنید.",
    "button": "تازه ترین اخبار",
    "image": "http://uupload.ir/files/d2r5_20200801_004647.jpg",
    "link": "rubika://l.rubika.ir/Rubinodownloader_app"
  }
]